.screen {
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 55px;
}

.screen__theme-button {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.screen__theme-button_theme_light {
  background-image: url(../../assets/dark-icon.svg);
  background-size: 17px;
}

.screen__theme-button_theme_dark {
  background-image: url(../../assets/light-icon.svg);
  background-size: 24px;
}

.screen__theme-button:active {
  transform: translate(0, 1px);
  transition: transform .3s ease;
}

.screen__theme-button_theme_light:hover {
  box-shadow: -6.25px -6.25px 12.5px 0px #FFF, 6.25px 6.25px 12.5px 0px #E1EDFA;
  background-color: #E1EDFA;
  border: 2px solid #E5EFFA;
}

.screen__theme-button_theme_dark:hover {
  border: 2px solid #2B2D2E;
  box-shadow: -8px -8px 16px 0px #222627, 8px 8px 16px 0px #222627;
}

.screen__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.screen__line {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  letter-spacing: -0.3px;
  overflow: hidden;
  background: transparent;
  border: none;
}

.screen__line_type_task {
  color: #9A9B9B;
  font-size: 20px;
}

.screen__line_type_input:focus-visible {
 outline: none;
}

.screen__line_theme_light {
  color: #121212;
  font-size: 40px;
}

.screen__line_theme_dark {
  color: #ECECEC;
  font-size: 40px;
}

.screen__line_low {
  font-size: 22px;
}
